$color-crimson: crimson;
$color-darkolivegreen: darkolivegreen;
$color-green: rgb(116, 171, 21);
$color-blue: rgb(47, 87, 107);
$color-red: red;
$color-white: #fff;
$color-background-main: rgb(255, 0, 238);
$color-background-sidebar: rgb(19, 18, 18);
$color-footer: #720be7;
$font-family: Arial, sans-serif;
