.main3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #fcfcfc;
    color: #0e0d0d;
    padding: 20px;
    background-image: url(https://img.freepik.com/foto-gratis/fondo-papel-tapiz-vintage_53876-31379.jpg?semt=ais_hybrid);
    background-repeat: no-repeat;
    background-size: cover;
  }
  